<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.ipav.shiro.dao.RolePermissionMapper">
  <resultMap id="BaseResultMap" type="vip.ipav.shiro.po.RolePermission">
    <result column="roles_id" jdbcType="BIGINT" property="rolesId" />
    <result column="permissions_id" jdbcType="BIGINT" property="permissionsId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="next" jdbcType="VARCHAR" property="next" />
    <association column="roles_id" property="role" select="getRole" />
    <association column="permissions_id" property="permission" select="getPermission" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    roles_id, permissions_id, create_time, next
  </sql>
  <select id="selectByExample" parameterType="vip.ipav.shiro.po.RolePermissionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from roles_permissions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="vip.ipav.shiro.po.RolePermissionExample">
    delete from roles_permissions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="vip.ipav.shiro.po.RolePermission">
    insert into roles_permissions (roles_id, permissions_id, create_time, 
      next)
    values (#{rolesId,jdbcType=BIGINT}, #{permissionsId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{next,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="vip.ipav.shiro.po.RolePermission">
    insert into roles_permissions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rolesId != null">
        roles_id,
      </if>
      <if test="permissionsId != null">
        permissions_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="next != null">
        next,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rolesId != null">
        #{rolesId,jdbcType=BIGINT},
      </if>
      <if test="permissionsId != null">
        #{permissionsId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="next != null">
        #{next,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="vip.ipav.shiro.po.RolePermissionExample" resultType="java.lang.Long">
    select count(*) from roles_permissions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update roles_permissions
    <set>
      <if test="record.rolesId != null">
        roles_id = #{record.rolesId,jdbcType=BIGINT},
      </if>
      <if test="record.permissionsId != null">
        permissions_id = #{record.permissionsId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.next != null">
        next = #{record.next,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update roles_permissions
    set roles_id = #{record.rolesId,jdbcType=BIGINT},
      permissions_id = #{record.permissionsId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      next = #{record.next,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="getRole" resultMap="vip.ipav.shiro.dao.RoleMapper.BaseResultMap">
    select id,name,code,next from roles where id=#{rolesId}
  </select>
  <select id="getPermission" resultMap="vip.ipav.shiro.dao.PermissionMapper.BaseResultMap">
    select id,execute,description,other from permissions where id=#{permissionsId}
  </select>
</mapper>